
<section id="apoiadores" class="container">
  <div class="row apoiadores-header">
    <div class="col">
      <h1>Apoiadores</h1>
    </div>
  </div>
  
  <div class="row apoiador">
    <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
    <div class="col">
      <h2 class="subtitulo">Marina</h2>
      <h3 class="texto">Biologia</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiar" class=btn-0-d data-toggle="modal" data-target="#modalDeApoiar">
    </div>
  </div>
  
  <div class="row apoiador">
    <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marina">
    <div class="col">
      <h2 class="subtitulo">Marcelo</h2>
      <h3 class="texto">Ciência</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiar" class=btn-0-d data-toggle="modal" data-target="#modalDeApoiar">
    </div>
  </div>

    <div class="row apoiador">
      <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
      <div class="col">
        <h2 class="subtitulo">Marina</h2>
        <h3 class="texto">Biologia</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-0-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>

    <div class="row apoiador">
      <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marina">
      <div class="col">
        <h2 class="subtitulo">Marcelo</h2>
        <h3 class="texto">Ciência</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-0-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>

    <div class="apoiadores-footer">
      <div>
        <input type="button" value="Ver Todos" class=btn-2-d onclick="location.href='/apoiadores'">
      </div>
    </div>
    <%- include('./model-apoia') -%>
</section>
