<section id="apoia" class="container">
    <div class="row apoia-header">
        
          <nav>
            
            <ul>
              <li><a class="active titulo" href="apoio" >Seus Apoiados</a></li>
              <li><a class="apoiar" href="apoiadores">Seus apoiadores</a></li>
              <li><a class= "apoiar" href="apoiadores">Seus apoiadores</a></li>
            </ul>
          
          </nav>
          
       
      </div>

    <div class="row apoia">
     
    
    <img src="/img/jandira.jpg" class="rounded-circle" alt="jandira">
    <div class="col">
      <h2 class="subtitulo">Jandira</h2>
      <h3 class="texto">Moda</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/thiago.jpg" class="rounded-circle" alt="thiago">
    <div class="col">
      <h2 class="subtitulo">Thiago</h2>
      <h3 class="texto">Web design</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>

  <div class="row apoia">
     
    
    <img src="/img/brown.jpg" class="rounded-circle" alt="brown">
    <div class="col">
      <h2 class="subtitulo">Carlos</h2>
      <h3 class="texto">Música</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/igor.jpg" class="rounded-circle" alt="igor">
    <div class="col">
      <h2 class="subtitulo">Igor</h2>
      <h3 class="texto">Música</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>
  <div class="row apoia">
     
    
    <img src="/img/milton.jpg" class="rounded-circle" alt="milton">
    <div class="col">
      <h2 class="subtitulo">Milton</h2>
      <h3 class="texto">Teatro</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/anita.jpg" class="rounded-circle" alt="anita">
    <div class="col">
      <h2 class="subtitulo">Anita</h2>
      <h3 class="texto">História</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>
  <div class="row apoia">
     
    
    <img src="/img/bene.jpg" class="rounded-circle" alt="benedita">
    <div class="col">
      <h2 class="subtitulo">Bene</h2>
      <h3 class="texto">Literatura</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/bresser.jpg" class="rounded-circle" alt="Bresser">
    <div class="col">
      <h2 class="subtitulo">Bresser</h2>
      <h3 class="texto">Direito</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>
  <div class="row apoia">
     
    
    <img src="/img/james.jpg" class="rounded-circle" alt="james">
    <div class="col">
      <h2 class="subtitulo">James</h2>
      <h3 class="texto">Ciências Sociais</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/chico.jpg" class="rounded-circle" alt="chico">
    <div class="col">
      <h2 class="subtitulo">Chico</h2>
      <h3 class="texto">Filosofia</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>
  <div class="row apoia">
     
    
    <img src="/img/luciana.jpg" class="rounded-circle" alt="luciana">
    <div class="col">
      <h2 class="subtitulo">Maria</h2>
      <h3 class="texto">Web design</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>



    <img src="/img/taliria.jpg" class="rounded-circle" alt="taliria">
    <div class="col">
      <h2 class="subtitulo">Talíria</h2>
      <h3 class="texto">Literatura</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-0-l>
    </div>
    
  </div>

  
    


   

</section>