<section id="aulas-recentes" class="container">
    <div class="row apoiadores-header">
      <div class="col">
        <h1>Aulas Recentes</h1>
        <input type="button" value="Aluno" class=btn-0-l>
        <input type="button" value="Professor" class=btn-0-l>
      </div>
    </div>
    
    <div class="row apoiador">
      <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
      <div class="col">
        <h2 class="texto">CSS para...</h2>
        <h3 class="subtitulo">Marina</h3>
      </div>
      <div class="col">
        <input type="button" value="Avaliar" class=btn-0-d>
      </div>
    </div>
    
    <div class="row apoiador">
      <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marcelo">
      <div class="col">
        <h2 class="texto">Ciência...</h2>
        <h3 class="subtitulo">Marcelo</h3>
      </div>
      <div class="col">
        <input type="button" value="Avaliar" class=btn-0-d>
      </div>
    </div>

    <div class="row apoiadores-footer">
        <div class="col" align="center">
            <input type="button" value="Ver Todas" class=btn-2-d>
          </div>    
    </div>
    
  </section>
  