<section id="aula-pesquisada" class="container">
    <div class="row aula-pesq">
        <img src="/img/mateus.jpg" class="rounded-circle" alt="viola">
        <div class="col">
            <h2 class="subtitulo">Cálculo I - Economia </h2>
            <h3 class="texto">Fábio Assunção</h3>

        <div class="row botoes">
            <input type="button" value="1 Moeda" class=btn-0-d>
            <input type="button" value="4.8" class=btn-0-d>
            <input type="button" value="15 minutos" class=btn-0-d>

        </div>
          </div>
   
   
   
   
    </div>
</section>