<%- include('./modal-detalhes-aula') -%>

<section id="aula-pesquisada" class="container">



    <div class="aula">

        <div class="col-2">
            <img src="/img/mateus.jpg" class="rounded-circle" alt="foto">
        </div>

        <div class="col-10">
            <h2 class="subtitulo">Aula Cálculo I - Economia - Online</h2>
            <h3 class="texto">Fábio Assunção - 4.8<i class="far fa-star"></i> </h3>
            <div class="botoes">
                <input type="button" value="1 Moeda" class=btn-1-l>
                <input type="button" value="15 minutos" class=btn-1-l>
                <input type="button" value="Adquirir Agora" class=btn-1b-d data-toggle="modal"
                    data-target="#modalDetalhesAula">
            </div>
        </div>

    </div>



</section>