<section id="aulas-recentes" class="container-fluid">
  <div class="row aulas-header">
    <div class="col">
      <h1>Aulas Recentes</h1>
      <div class="tipo-aula">
        <label class="texto">Aulas Ministradas</label>
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>

  <div class="aula">
    <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
    <div class="col">
      <h2 class="texto">CSS para...</h2>
      <h3 class="subtitulo">Marina</h3>
    </div>

    <div>
      <input type="button" value="Avaliar" class=btn-0-d data-toggle="modal" data-target="#modalAvaliar" >
    </div>
  </div>


  <div class="aula">
    <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marina">
    <div class="col">
      <h2 class="texto">Ciência...</h2>
      <h3 class="subtitulo">Marcelo</h3>
    </div>
    <div>
      <input type="button" value="Avaliar" class=btn-0-d data-toggle="modal" data-target="#modalAvaliar">
    </div>
  </div>

  <div class="aula">
    <img src="/img/teresa.jpg" class="rounded-circle" alt="Teresa">
    <div class="col">
      <h2 class="texto">Ciência...</h2>
      <h3 class="subtitulo">Teresa Teng</h3>
    </div>
    <div>
      <input type="button" value="Avaliar" class=btn-0-d data-toggle="modal" data-target="#modalAvaliar">
    </div>
  </div>
  

  <div class="aulas-footer">
    <div align="center">
      <input type="button" value="Ver Todas" class=btn-2-d>
    </div>
  </div>
  <%- include('./modal-avaliar') -%>
  
  
</section>