<%- include('./modal-detalhes-aula') -%>

<section id="aula-pesquisada" class="container">



    <div class="aula">

        <div class="col-foto">
            <img src="/img/mateus.jpg" class="rounded-circle" alt="foto">
        </div>

        <div class="col-nome">
            <h2 class="subtitulo">Aula Cálculo I - Economia - Online</h2>
            <h3 class="texto">Fábio Assunção - 4.8<i class="far fa-star"></i> </h3>
            <div class="botoes">
                <div class="botoes-btn">
                    <span class="icone" style="margin: 0 4%;"><i class="fas fa-coins"></i></span>
                    <span class="valor">01</span>
                    <p class="sumir">Moeda</p>
                </div>
                <div class="botoes-btn">
                    <span class="icone" style="margin: 0 4%;"><i class="far fa-clock"></i></span>
                    <span class="valor">15</span>
                    <p class="sumir">Min</p>
                </div>
                <input type="button" value="Adquirir Agora" class=btn-1b-d data-toggle="modal" data-target="#modalDetalhesAula">
            </div>
        </div>

    </div>
</section>
