<section id="novaPostagem" class="geral">
    <div class="rowBotoes">
        <div class="posicao" onclick="location.href='/ranking-professores'">
            <h1 id="lugar">3ยบ<br>lugar</h1>
        </div>
        
        <div class="botao">
            <i id="iconeBotao" class="fas fa-chalkboard-teacher"></i>
            <p>aprender</p>
        </div>
        
        <div class="botao">
            <i id="iconeBotao" class="far fa-hand-peace"></i>
            <p>aprendendo</p>
        </div>
        <div class="botao">
            <i id="iconeBotao" class="fas fa-glasses"></i>
            <p>ensinar</p>
        </div>
        <div class="botao">
            <i id="iconeBotao" class="far fa-thumbs-up"></i>
            <p>ensinando</p>
        </div>
    </div>
    
    <div class="apoiados">
        <div class="text-apoiados">
            <p>Seus apoiados</p>
        </div>
        
        <div class="listagem-apoiados">
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="apoiado"></div>
            <div class="seta">
                <i class="fas fa-play" id="seta"></i>
            </div>  
        </div>
    </div>
    
</section> 