<section id="filtroPesquisa" class="geral">
    <div class="rowBotoes">
        <div class="aplicar">
            <h1 id="label">Aplicar<br>Filtro</h1>
        </div>
        
        <div class="botao">
            <i id="iconeBotao1" class="far fa-user"></i>
            <p>usuários</p>
        </div>
        
        <div class="botao">
            <i id="iconeBotao2" class="fas fa-chalkboard-teacher"></i>
            <p>aprender</p>
        </div>
        
        <div class="botao">
            <i id="iconeBotao3" class="far fa-hand-peace"></i>
            <p>aprendendo</p>
        </div>
        <div class="botao">
            <i id="iconeBotao4" class="fas fa-glasses"></i>
            <p>ensinar</p>
        </div>
        <div class="botao">
            <i id="iconeBotao5" class="far fa-thumbs-up"></i>
            <p>ensinando</p>
        </div>
    </div>
</section> 
<section id="mobilePostPesquisa" class="container">
    <!-- Search form -->
    <div class="post-coment">
        <form class="form-inline">
            <i id="iconeSearch" class="fas fa-search search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Pesquisar" aria-label="Search">
        </form>
    </div>
    
</section>

<script>
    const BOTOES = document.querySelectorAll('.botao');
    //Esta função aplica o efeito no botão clicado pelo usuário para adicionar filtro
    for(let botao of BOTOES){
        botao.addEventListener('click',function(){
            botao.classList.toggle('ativo');
        });
    };
</script>