<section id="filtroPesquisa" class="geral">
    <div class="rowBotoes">
        <div class="aplicar">
            <h1 id="label">Aplicar<br>Filtro</h1>
        </div>
        
        <div class="botao">
            <i id="iconeBotao1" class="far fa-user"></i>
            <p>usuários</p>
        </div>
        
        <div class="botao">
            <i id="iconeBotao2" class="fas fa-chalkboard-teacher"></i>
            <p>aprender</p>
        </div>
        
        <div class="botao">
            <i id="iconeBotao3" class="far fa-hand-peace"></i>
            <p>aprendendo</p>
        </div>
        <div class="botao">
            <i id="iconeBotao4" class="fas fa-glasses"></i>
            <p>ensinar</p>
        </div>
        <div class="botao">
            <i id="iconeBotao5" class="far fa-thumbs-up"></i>
            <p>ensinando</p>
        </div>
    </div>
</section> 
<!-- início pesquisa para mobile -->
<section id="mobilePostPesquisa" class="container">
    <!-- Search form -->
    <div class="post-coment">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search">
            <div class="input-group-append">
              <button class="btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <div class="input-group-append">
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Refine sua busca:
            <div class="btn-group-toggle mobilePesquisaCollapse" data-toggle="buttons">
              <button class="btn-1-l mobilePesquisaBotao">
                 Usuários
              </button>
              <button class="btn-1b-l mobilePesquisaBotao">
                 Quero Aprender
              </button>
            </div>
            <div class="btn-group-toggle mobilePesquisaCollapse" data-toggle="buttons">
              <button class="btn-1b-l mobilePesquisaBotao">
                Quero ensinar
              </button>
              <button class="btn-1-l mobilePesquisaBotao">
                Postagens
              </button>
            </div>
          </div>
        </div>

    </div>
    
</section>

<script>
    const BOTOES = document.querySelectorAll('.botao');
    //Esta função aplica o efeito no botão clicado pelo usuário para adicionar filtro
    for(let botao of BOTOES){
        botao.addEventListener('click',function(){
            botao.classList.toggle('ativo');
        });
    };
</script>