<section id="novaPostagem" class="geral">
    <div class="rowBotoes">
        <div class="posicao" onclick="location.href='/ranking-professores'">
            <h1 id="lugar">3º<br>lugar</h1>
        </div>
        
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Falar com @mdo</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Falar com @fat</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Falar com @getbootstrap</button> -->
            
            <div class="botao" data-toggle="modal" data-target="#modalAprender">
                <i id="iconeBotao1" class="fas fa-chalkboard-teacher"></i>
                <p>aprender</p>
            </div>
            
            <div class="botao" data-toggle="modal" data-target="#modalAprendendo">
                <i id="iconeBotao2" class="far fa-hand-peace"></i>
                <p>aprendendo</p>
            </div>
            <div class="botao" data-toggle="modal" data-target="#modalEnsinar">
                <i id="iconeBotao3" class="fas fa-glasses"></i>
                <p>ensinar</p>
            </div>
            <div class="botao" data-toggle="modal" data-target="#modalEnsinando">
                <i id="iconeBotao4" class="far fa-thumbs-up"></i>
                <p>ensinando</p>
            </div>
        </div>
        
        <div class="apoiados">
            <div class="text-apoiados">
                <p>Seus apoiados</p>
            </div>
            
            <div class="container listagem-apoiados">
                <div class="apoiado">
                    <a href="#"><img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina"></a>
                </div>
                <div class="apoiado">
                    <a href="#"><img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marcelo"></a>
                </div>
                <div class="apoiado">
                    <a href="#"><img src="/img/kate.jpg" class="rounded-circle" alt="kate"></a>
                </div>
                <div class="apoiado">
                    <a href="#"><img src="/img/luciana.jpg" class="rounded-circle" alt="luciana"></a>
                </div>
                <div class="apoiado">
                    <a href="#"><img src="/img/taliria.jpg" class="rounded-circle" alt="taliria"></a>
                </div>
                <div class="apoiado">
                    <a href="#"><img src="/img/aecio.jpg" class="rounded-circle" alt="aecio"></a>
                </div>
                
                <div class="seta" onclick="location.href='/apoio'">
                    <span style="font-size: 0.8em; color: white;"></span>
                    <span>
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>  
            </div>
        </div>
        
    </section> 
    <section id="mobilePostPesquisa" class="container">
        <div class="boas-vendas">Bem-vindo,  User </br></div>
        <!-- <div id="aula-pesquisada" class="aula"> -->
            <div class="post-coment">
                <form action="" class="post-coment-form">
                <div class="img-avatar-coment">
                    <img src="/img/kate.jpg" alt="">
                </div>
                <div class="div-input-comentario">
                    <input type="text" name="comentario" class="input-comentario" autocomplete="off" required placeholder="O que você quer publicar hoje?"
                    data-toggle="modal" data-target="#modalMobile">
                </div>
                </form>
            </div>
        <!-- </div> -->
    </section>
    <!-- Modal de criar publicação-->
    <%- include('../includes/modal-criar-publicacao')-%>
    