<section id="conquista-professor" class="container">
  <div class="header">
    <h1>Conquistas recentes de Kate como professora</h1>
    <div class="nota">
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
      <span><i class="fas fa-star"></i></span>
    </div>
  </div>
  <div class="conquistas-div-interna">
    <ul class="conquistas-div-interna-ul">
      <li>
        <span class="icone"><i class="fas fa-coins"></i></span>
        Matemática Financeira - Aluno Leonardo Silva - 5 Moedas
      </li>
      <li>
        <span class="icone"><i class="fas fa-coins"></i></span>
        Dança - Aluna Luana Oliveira - 3 Moedas
      </li>
      <li>
        <span class="icone"><i class="fas fa-coins"></i></span>
        Pilates - Aluna Letícia Bezerra - 2 Moedas
      </li>
    </ul>

  </div>
</section>