<section id="conquistas-usuario" class="container">
  <h1>Conquistas de Kate</h1>

  <div class="conquistas-div-interna">
    <ul class="conquistas-div-interna-ul-1">
      <li>
        <span class="icone"><i class="fas fa-award"></i></span>
        <span class="numero">99K</span> Medalhas
      </li>
      <li>
        <span class="icone"><i class="fas fa-coins"></i></span>
        <span class="numero">200K</span> Moedas
      </li>
      <li>
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="numero">5.0</span> Nota Professora
      </li>
    </ul>

    <ul class="conquistas-div-interna-ul-2">
      <li>
        <span class="icone"><i class="fas fa-university"></i></span>
        <span class="numero">120H</span> Ensinando
      </li>
      <li>
        <span class="icone"><i class="fas fa-book-reader"></i></span>
        <span class="numero">200H</span> Aprendendo
      </li>
      <li>
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="numero">4.8</span> Nota Aluna
      </li>
    </ul>

  </div>
</section>