<!-- Modal -->

<div class="modal fade" id="modalAprender" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <!-- <section class="post-feed container">-->
  
                <header class="post-feed-header">
                  <div class="post-feed-header-avatar">
                    <img src="/img/kate.jpg" alt="">
                  </div>
                  <div>
                    <h1 class="user-name subtitulo">Kate Backinsale</h1>
                    <h2 class="user-estudo texto">Aprendendo economia</h2>
                    <span class="data-post texto">Dom. 19:30h</span>
                  </div>
                </header> 
                
                <article class="post-feed-article">
                  <div class="img-post">
                    <!-- <img src="/img/estudando.jpg" alt=""> -->
                    <i class="far fa-image" size="30px"></i>
                  </div>
                  <div class="user-info">                              
                    <h1 class="titulo">Titulo</h1>
                    <h2>#Subtitulo</h2>
                    <p>
                      Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
                    </p>
                  </div>
                </article>
                
                <!-- <footer class="post-footer"> -->
                  <!-- <div class="post-footer-div">
                    <button class="btn-1b-l"><span class="reacoes">08</span><span class="icone"><i class="fas fa-award"></i></span>medalhas</button>
                    <button class="btn-1b-l"><span class="reacoes">91</span><span class="icone"><i
                      class="far fa-comment-alt"></i></span>comentários</button>
                      <button class="btn-1b-l"><span class="reacoes">01</span><span class="icone"><i
                        class="fas fa-coins"></i></span>apoios</button>
                      </div>
                      <div class="post-coment">
                        <form action="" class="post-coment-form">
                          <div class="img-avatar-coment">
                            <img src="/img/kate.jpg" alt="">
                          </div>
                          <div class="div-input-comentario">
                            <input type="text" name="comentario" class="input-comentario">
                          </div>
                        </form>
              
                        <ul class="footer-coment-ul">
                          <li class="li-comentario">
                            <div class="img-avatar-coment">
                              <img src="/img/mateus.jpg" alt="">
                            </div>
                            <div class="div-li-comentario">
                              <p class="li-comentario texto">Lorem ipsum dolor sit amet, 
                                consectetur adipisicing elit. Repudiandae animi, doloremque fugit!</p>
                            </div>
                          </li>
                        </ul>
              
                      </div> -->
                    <!-- </footer> -->
                    
                  <!-- </section> -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAprendendo" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEnsinar" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEnsinando" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-primary">Publicar</button>
        </div>
      </div>
    </div>
  </div>