<section id="perfil-detalhe">
  <div class="capa-perfil-detalhe">
    <img src="/img/kate.jpg" alt="avatar" class="avatar">
  </div>
  <div class="editar">
    <span><i class="far fa-edit"></i></span>
  </div>
  <div class="info">
    <h1 class="nome">Kate Backinsale</h1>
    <h2 class="faculdade">Universidade Kansas</h2>
    <p class="profissao">Atriz</p>
    <p class="frase">Ser uma excelente atriz e cativar o meu público</p>
  </div>
</section>
