<footer class="container-fluid" id="main-footer">
  <!--CODIGO DO FOOTER VAI AQUI-->

  <address>
    <p>Nodp 2020</p>
  </address>

</footer>
<footer class="container-fluid" id="mobile-footer">
  <ul>
    <li><a href="/home">
      <i class="fas fa-home"></i>
    </a></li>
    <li><a href="/pesquisas">
      <i class="fas fa-search"></i>
    </a></li>
    <li><a href="/home">
      <!-- <i class="far fa-bookmark li-mark"></i> -->
      <i class="fas fa-globe"></i>
    </a></li>
    <li><a href="/notificacoes">
      <i class="far fa-bell"></i>
    </a></li>
    <li><a href="/perfil">
      <i class="far fa-user"></i>
    </a></li>
  </ul>
</footer>

</html>