<footer class="container-fluid" id="main-footer">
  <!--CODIGO DO FOOTER VAI AQUI-->

  <address>
    <p>Nodp 2020</p>
  </address>

</footer>
<footer class="container-fluid" id="mobile-footer">
  <ul class="">
    <li><a href="/home">
      <i class="far fa-bookmark li-mark"></i>
    </a></li>
    <li><a href="/home">
      <i class="far fa-bookmark li-mark"></i>
    </a></li>
    <li><a href="/home">
      <!-- <i class="far fa-bookmark li-mark"></i> -->
      <i><img src="/img/logo-rocho.png" alt="logo" class="logo-letra mx-auto"></i>
    </a></li>
    <li><a href="/home">
      <i class="far fa-comment-alt"></i>
    </a></li>
    <li><a href="/home">
      <i class="far fa-comment-alt"></i>
    </a></li>
  </ul>
</footer>

</html>