<footer id="footer-lateral">
  <address>
    Nodp 2020 <span>&#174</span>
    <br>
  </address>
  <nav class="sobre-footer">
    <ul>
      <li>Política de privacidade</li>
      <li>Sobre nós</li>
    </ul>
  </nav>
</footer>
</html>