<!-- Just an image -->
<header id="header-desktop" class="container-fluid">
  <nav class="header-nav">
    <a class="navbar-brand" href="/home">
      <img src="/img/logo-branco-letra.png" alt="logo" class="logo-letra">
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 texto no-focus" type="search" placeholder="Pesquisar" aria-label="Search">
      <div class="input-group-prepend">
        <div id="caixa-pesquisar">
          <a href="pesquisas"><span class="input-group-text" id="pesquisar">
            <i class="fas fa-search"></i>
          </span></a>
        </div>
        
      </div>
    </form>
    
    <ul class="header-nav-ul">
      <li><a href="/home" ><i class="fas fa-home"></i></a></li>
      <li>
        <a href="/notificacoes"><i class="fas fa-bell"></i><span id="notificacao">08</span></a>
      </li>
      <li>
        <i class="fas fa-address-card"></i>
      </li>
      <li>
        <a href="/">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</header>