<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DEPÊ</title>
  <meta name="description" content="Rede Social para quem deseja aprender sem gastar dinheiro, ou para quem deseja ensinar e fazer novos amigos" />
  <meta name="author" content="Alessandro L. Menezes, Erica Suguimoto, André Oliveira, Ana Carolina" />
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"/>
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel='stylesheet' href='/css/style.css'/>
  
  