<!-- Just an image -->
<header class="container-fluid">
  <nav class="header-nav">
    <a class="navbar-brand" href="">
      <img src="/img/logo-branco-letra.png" alt="logo" class="logo-letra">
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2 texto" type="search" placeholder="Pesquisar" aria-label="Search">
      <div class="input-group-prepend">
        <span class="input-group-text" id="pesquisar"><i class="fas fa-search"></i></span>
      </div>
    </form>
    
    <ul class="header-nav-ul">
      <li><a href="/home" <i class="fas fa-home"></i></a></li>
      <li>
        <i class="fas fa-bell"></i>
      </li>
      <li>
        <i class="fas fa-address-card"></i>
      </li>
      <li>
        <a href="/">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
      
    </ul>
  </nav>
</header>