<section id="ranking-aluno" class="container">
  <div class="header">
    <h1>Ranking de alunos</h1>
  </div>
  <div class="ranking-div-interna">
    <ul class="ranking-div-interna-ul">
      <li>
        <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
        <span class="icone"><i class="fas fa-award"></i></span>
        2° Leonardo Silva - 12.5H
      </li>
      <li>
        <img src="/img/luciana.jpg" class="rounded-circle" alt="marina">
        <span class="icone"><i class="fas fa-award"></i></span>
        3° Luana Oliveira - 9.5H
      </li>
      <li>
        <img src="/img/mateus.jpg" class="rounded-circle" alt="marina">
        <span class="icone"><i class="fas fa-award"></i></span>
        4° Letícia Bezerra - 8.5H
      </li>
    </ul>
  </div>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <div class="btn-ranking">
    <button class="btn-3-l" onclick="location.href='/ranking-professores'">Ranking Professores</button>
  </div>
</section>