<section id="mensagens" class="container">
    <div class="row mensagens-header">
      <div class="col">
        <h1>mensagens</h1>
      </div>
    </div>
    
    <div class="row mensagem">
        <img src="/img/aecio.jpg" class="rounded-circle" alt="Aecio">
    <div class="col">
        <h2 class="nomePerfil">Aécio</h2>
        <h3 class="mensagemEnviada texto">Já...</h3>
      
    </div>
    
    <div class="col">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
    
    <div class="row mensagem">
        <img src="/img/luciana.jpg" class="rounded-circle" alt="Luciana">
    <div class="col">
        <h2 class="nomePerfil">Maria</h2>
        <h3 class="mensagemEnviada texto">Então...</h3>
     
    </div>
    <div class="col">
        <i class="far fa-times-circle"></i>
      </div>
</div>

    <div class="row mensagem">
        <img src="/img/taliria.jpg" class="rounded-circle" alt="Talíria">
    <div class="col">
        <h2 class="nomePerfil">Talíria</h2>
        <h3 class="mensagemEnviada texto" >Posso...</h3>

    </div>
    <div class="col">
        <i class="far fa-times-circle"></i>
      </div>

    </div>
     
        <div class="row mensagens-footer">
        <div class="col" align="center">
            <input type="button" value="Nova Mensagem" class=btn-2-d>
          </div>    
    </div>

    
  </section>
