<section id="notificacoes" class="container-fluid">
    <div class="row notificacoes-header">
      <div class="col">
        <h1>Últimas mensagens</h1>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/aecio.jpg" class="rounded-circle" alt="aecio">
      <div class="col">
        <p><strong>Aecio Neves </strong> Posso marcar nossa aula ... </p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marcelo">
      <div class="col">
        <p><strong>Marcelo Freixo </strong> kkkkk muito bom, Kate! Eu estava pensando ...</p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/taliria.jpg" class="rounded-circle" alt="taliria">
      <div class="col">
        <p><strong>Talíria </strong> te enviou uma imagem.</p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/brown.jpg" class="rounded-circle" alt="Carlinhos Brown">
      <div class="col">
        <p><strong>Carlinhos Brown </strong> Tá com sede? olha olha olha ..."</p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/thiago.jpg" class="rounded-circle" alt="thiago">
      <div class="col">
        <p><strong>Thiago Leifert </strong> Você tá sabendo dos últimos emparedados? Acho que vc tá na berlinda...
        </p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/bene.jpg" class="rounded-circle" alt="thiago">
      <div class="col">
        <p><strong>Bene </strong> é companheiro, a aula é difícil mesmo...</p>
      </div>
    </div>
  
    <div class="aula" data-toggle="modal" data-target="#modalMensagem">
      <img src="/img/michele.jpg" class="rounded-circle" alt="Michele">
      <div class="col">
        <p><strong>Michele Obama </strong> te enviou uma imagem.</p>
      </div>
    </div>
  
  <!-- Modal enviar mensagem-->
  <%- include('../includes/modal-mensagem')-%>
  
  </section>