<section id="mensagens" class="container">
    <div class="row mensagens-header">
      <div class="col">
        <h1>MENSAGENS</h1>
      </div>
    </div>
    
    <div class="row mensagem">
        <img src="/img/aecio.jpg" class="rounded-circle" alt="Aecio">
    <div class="col">
        <h2 class="nomePerfil">Aécio Neves</h2>
        <h3 class="mensagemEnviada">Já leu Guerra e paz?</h3>
    </div>
    <div class="col">
        <i class='far fa-time-circle'></i>
      </div>
    </div>
    
    <div class="row mensagem">
        <img src="/img/luciana.jpg" class="rounded-circle" alt="Luciana">
    <div class="col">
        <h2 class="nomePerfil">Luciana Genro</h2>
        <h3 class="mensagemEnviada">Regressão linear é tranquilo!</h3>
     
    </div>

    <div class="row mensagem">
        <img src="/img/taliria.jpg" class="rounded-circle" alt="Talíria">
    <div class="col">
        <h2 class="nomePerfil">Talíria Petrone</h2>
        <h3 class="mensagemEnviada">Posso te ajudar em calculo 3.</h3>
     
        <div class="row apoiadores-footer">
        <div class="col" align="center">
            <input type="button" value="NOVA MENSAGEM" class=btn-2-d>
          </div>    
    </div>
    
  </section>
