<!--INICIO DO MODAL MENSAGEM-->
<div class="modal fade" id="modalDetalhesAula" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="msgModalLabel">Aula Cálculo I</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div id="detalhes-container">
            <div class="msg-feed-header-avatar">
                <img src="/img/kate.jpg" alt="">
            </div>

            <div id="container-texto-detalhes">
                <p class="titulo">Aula Cálculo I</p>
                <p class="subtitulo">#CALCULO</p>
                <p class="texto">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
            
        </div>
        
        
        
    </div>
    <article class="msg-feed-article">
        <div id="container-descricao-botoes">
            <span>1 Moeda</span>
            <span><i class="far fa-star"> 4.8</i></span>
            <span>15 minutos</span>
        </div>
    </article>

      <div class="modal-footer">
        <div id="container-botaoUnico">
          <button type="button" class="btn btn-3b-l">Fale com o professor</button>
        </div>
        <div id="container-botaoDuplo">
          <button type="button" class="btn btn-1-l" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-1-d">Comprar</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--FIM DO MODAL MENSAGEM--> 
