<!-- Modal -->
<!--INICIO DO MODAL APRENDER-->
<div class="modal fade" id="modalAprender" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div>
              <h1 class="user-name subtitulo">Kate Backinsale</h1>
              <h2 class="user-estudo texto">Aprendendo economia</h2>
              <span class="data-post texto">Dom. 19:30h</span>
            </div>
          </header> 
          
          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info"> 
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-aprender">
                  <h2 class="subtitulo">#Quero-Aprender</h2>
                </div>
                
                <div class="btn-urgente texto"><i class="far fa-clock"></i> Pra ontem</div>
                <div class="btn-normal texto"><i class="far fa-clock"></i> De boa</div>
                
              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post" maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL APRENDER-->
  
  
  <!--INICIO DO MODAL APRENDENDO-->
  <div class="modal fade" id="modalAprendendo" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div>
              <h1 class="user-name subtitulo">Kate Backinsale</h1>
              <h2 class="user-estudo texto">Aprendendo economia</h2>
              <span class="data-post texto">Dom. 19:30h</span>
            </div>
          </header>
          
          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-aprendendo">
                  <h2 class="subtitulo">#Estou-Aprendendo</h2>
                </div>
                
              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
              maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL APRENDENDO-->
  
  
  <!--INICIO DO MODAL ENSINAR--> 
  <div class="modal fade" id="modalEnsinar" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div>
              <h1 class="user-name subtitulo">Kate Backinsale</h1>
              <h2 class="user-estudo texto">Aprendendo economia</h2>
              <span class="data-post texto">Dom. 19:30h</span>
            </div>
          </header>
          
          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-ensinar">
                  <h2 class="subtitulo">#Quero-Ensinar</h2>
                </div>
                
                <div class="btn-urgente texto"><i class="fas fa-coins"></i> 0 Moedas</div>
                <div class="btn-normal texto"><i class="far fa-clock"></i> Duração</div>
                
              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
              maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL ENSINAR-->
  
  
  <!--INICIO DO MODAL ENSINANDO-->
  <div class="modal fade" id="modalEnsinando" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div>
              <h1 class="user-name subtitulo">Kate Backinsale</h1>
              <h2 class="user-estudo texto">Aprendendo economia</h2>
              <span class="data-post texto">Dom. 19:30h</span>
            </div>
          </header>

          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-ensinando">
                  <h2 class="subtitulo">#Estou-Ensinando</h2>
                </div>

              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
                maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL ENSINANDO-->


  <!--INICIO DO MODAL MOBILE-->
  <div class="modal fade" id="modalMobile" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postModalLabel">Criar Publicação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Descartar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <section class="post-feed container">-->
          <header class="post-feed-header">
            <div class="post-feed-header-avatar">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div>
              <h1 class="user-name subtitulo">Kate Backinsale</h1>
              <h2 class="user-estudo texto">Aprendendo economia</h2>
              <span class="data-post texto">Dom. 19:30h</span>
            </div>
          </header>

          <article class="post-feed-article">
            <div class="img-post">
              <!-- <img src="/img/estudando.jpg" alt=""> -->
              <i class="far fa-image"></i>
            </div>
            <div class="user-info">
              <div class="informacoes-do-post">
                <div>
                  <input type="text" placeholder="Titulo" class="titulo titulo-modal" name="titulo-modal-ensinando">
                  <!-- <h2 class="subtitulo">#Estou-Ensinando</h2> -->
                  <div class="form-group">
                    <!-- <label for="sel1">Select list:</label> -->
                    <select class="form-control" id="sel1">
                      <option>#Quero-Aprender</option>
                      <option>#Estou-Aprendendo</option>
                      <option>#Quero-Ensinar</option>
                      <option>#Estou-Ensinando</option>
                    </select>
                  </div>
                </div>

              </div>
              <textarea name="" rows="4" placeholder="Seu texto aqui ..." class="texto texto-post"
                maxlength="250"></textarea>
              <div class="quantidade-caracteres">
                <p class="texto">250</p>
              </div>
            </div>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-2-l" data-dismiss="modal">Descartar</button>
          <button type="button" class="btn btn-2-d">Publicar</button>
        </div>
      </div>
    </div>
  </div>
  <!--FIM DO MODAL MOBILE-->
  