<div class="modal fade" id="modalDenunciar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Denunciar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h1>Qual o motivo da denúncia?</h1>
            <input type="checkbox" id="motivo1" name="motivo1" value="inapropriado">
            <label for="motivo1"> Conteúdo impróprio</label><br>
            <input type="checkbox" id="motivo2" name="motivo2" value="Outros">
            <label for="motivo2"> Outros</label><br>
            <textarea name="" rows="4" placeholder="Deixe seus motivos aqui ..." class="texto texto-msg"
            maxlength="250"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-1-l btn-secondary"  data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn-1-d btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>