<div class="modal fade" id="modalDeApoiar" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Apoiar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Você pode apoiá-lo com o valor de apenas 1 moeda.</p>
            <p> Deseja apoiar? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class=btn-0-l data-dismiss="modal">Não</button>
          <button type="button" class=btn-0-d >Sim</button>
        </div>
      </div>
    </div>
  </div>

 

  



