<section id="notificacoes" class="container-fluid">
  <div class="row notificacoes-header">
    <div class="col">
      <h1>Últimas notificações</h1>
    </div>
  </div>

  <div class="aula">
    <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
    <div class="col">
      <p><strong>Marina Silva </strong> acabou de fazer um comentário na sua aula</p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/MarceloFreixo.jpg" class="rounded-circle" alt="marcelo">
    <div class="col">
      <p><strong>Marcelo Freixo </strong> está estudando "Desenvolvimento das Favelas do Rio" com <strong>Lindberg
          Farias.</strong></p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/taliria.jpg" class="rounded-circle" alt="taliria">
    <div class="col">
      <p><strong>Talíria </strong> te enviou uma mensagem.</p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/aecio.jpg" class="rounded-circle" alt="aecio">
    <div class="col">
      <p><strong>Aécio Neves </strong> publicou "Como encher um jatinho de quilos de Javascript..."</p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/brown.jpg" class="rounded-circle" alt="brown">
    <div class="col">
      <p><strong>Carlinhos Brown </strong> publicou a aula "Tá com sede? Água Mineral em tempos de Corona Vírus".</p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/thiago.jpg" class="rounded-circle" alt="thiago">
    <div class="col">
      <p><strong>Thiago Leifert </strong> publicou a aula "Como ser um BBB de sucesso + códigos prontos para praticar".
      </p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/bene.jpg" class="rounded-circle" alt="thiago">
    <div class="col">
      <p><strong>Bene </strong> se tornou seu apoiador e te deu uma moeda..</p>
    </div>
  </div>

  <div class="aula">
    <img src="/img/thiago.jpg" class="rounded-circle" alt="thiago">
    <div class="col">
      <p><strong>Thiago Leifert </strong> comentou uma publicação.</p>
    </div>
  </div>

  <!-- <div class="aulas-footer">
    <div align="center">
      <input type="button" value="Ver Todas" class=btn-2-d>
    </div>
  </div> -->


</section>