<section id="div-geral-patrocinador-maior">
    <!-- <div class="patrocinador-maior">
        <img src="/img/corona01.png" alt="patrocinador">
    </div> -->
    <div class="patrocinador-maior">
        <img src="/img/corona-vertical.png" alt="patrocinador">
    </div>
</section>