<section id="div-geral-patrocinador-menor">
    <div class="patrocinador-menor">
        <img src="/img/corona01.png" alt="patrocinador">

    </div>
    <!-- <div class="patrocinador-menor">
        <img src="/img/disque-saude-136.jpg" alt="patrocinador">
        
    </div> -->
</section>