<section id="perfil-detalhe">
  <div class="capa-perfil-detalhe">
    <img src="/img/kate.jpg" alt="avatar" class="avatar">
    <div class="trofeu">
      <div class="icone">
        <i class="fas fa-trophy"></i>
      </div>
      <div class="posicao">
        1<span>&#8304;</span>
      </div>
    </div>
  </div>
  <div class="info">
    <h1 class="nome">Kate Backinsale, 31 Anos</h1>
    <h2 class="faculdade">Economista - Universidade Kansas, 2017</h2>
    <h2 class="cidade">Nova York - USA</h2>
    <p class="frase">Me aperfeçoando para ser cada dia melhor</p>
    <p class="email">kate@nodp.com</p>
    <p class="contato">(201) 555-01550</p>
    <div class="interesses-div">
      <div class="interesses-aprendizado">
        <h4 class="interesse subtitulo">Interessada em</h4>
        <ul class="interesse-aprendizado-ul">
          <li>#Economia</li>
          <li>#Pilates</li>
          <li>#Acumputura</li>
          <li>| Presencial</li>
        </ul>
      </div>
      <div class="interesses-ensino">
        <h4 class="ensino">Ensina</h4>
        <ul class="interesse-ensino-ul">
          <li>#Dança</li>
          <li>#Teatro</li>
          <li>#Pintura</li>
          <li>| Online</li>
        </ul>
      </div>
    </div>
  </div>
</section>
