<section id="perfil">
  <div class="capa-perfil">
    <img src="/img/kate.jpg" alt="avatar" class="avatar">
  </div>
  <div class="info">
    <h1 class="nome">Kate Backinsale</h1>
    <h2 class="faculdade">Universidade Kansas</h2>
    <p class="profissao">Atriz</p>
    <p class="frase">Ser uma excelente atriz e cativar o meu público</p>
  </div>
  <div class="perfil-atributos">
    <ul class="perfil-atributos-ul">
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-coins"></i></span>
        <span class="valor">14</span>
        <p>Moedas</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-award"></i></span>
        <span class="valor">21</span>
        <p>Medalhas</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="valor">4.8</span>
        <p>Nota Professor</p>
      </li>
      <li class="perfil-atributos-ul-li">
        <span class="icone"><i class="fas fa-star"></i></span>
        <span class="valor">4.3</span>
        <p>Nota Aluno</p>
      </li>
    </ul>
  </div>
</section>
