<section class="post-feed">
  <header>
    <img src="" alt="">
    <h1 class="user-name">Kate Backinsale</h1>
    <h2 class="user-estudo">Aprendendo economia</h2>
    <span class="data-post">Dom. 19:30h</span>
  </header>
  <article>
    <div class="avatar">
      <img src="/img/kate.jpg" alt="">
    </div>
    <div class="user-info">                              
      <h1>Titulo</h1>
      <h2>#Subtitulo</h2>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
      </p>
    </div>
  </article>
  <footer class="post-footer">
    <div class="post-footer-div">
      <button><span class="icone"><i class="fas fa-award"></i></span>medalhas</button>
      <button><span class="icone"><i class="far fa-comment-alt"></i></span>comentários</button>
      <button><span class="icone"><i class="fas fa-coins"></i></span>apoios</button>
    </div>
    <div class="post-coment">
      <form action="" class="post-coment-form">
        <input type="text" name="comentario" class="input-comentario">
      </form>
      <ul class="footer-coment-ul">
        <li class="li-comentario">
          <span class="comentario">comentario</span>
        </li>
      </ul>
    </div>
  </footer>
</section>