<section class="post-feed container">
  
  <header class="post-feed-header" onclick="location.href='/perfil-usuario/1'">
    <div class="post-feed-header-avatar">
      <img src="/img/kate.jpg" alt="">
    </div>
    <div>
      <h1 class="user-name subtitulo">Kate Backinsale</h1>
      <h2 class="user-estudo texto">Aprendendo economia</h2>
      <span class="data-post texto">Dom. 19:30h</span>
    </div>
  </header>
  
  <article class="post-feed-article">
    <div class="img-post">
      <img src="/img/estudando.jpg" alt="">
    </div>
    <div class="user-info">                              
      <h1 class="titulo">Titulo</h1>
      <h2>#Subtitulo</h2>
      <p>
        Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.
      </p>
    </div>
  </article>
  
  <footer class="post-footer">
    <div class="post-footer-div">
      <button class="btn-1b-l"><span class="reacoes">08</span><span class="icone"><i class="fas fa-award"></i></span>medalhas</button>
      <button class="btn-1b-l"><span class="reacoes">91</span><span class="icone"><i
        class="far fa-comment-alt"></i></span>comentários</button>
        <button class="btn-1b-l"><span class="reacoes">01</span><span class="icone"><i
          class="fas fa-coins"></i></span>apoios</button>
        </div>
        <div class="post-coment">
          <form action="" class="post-coment-form">
            <div class="img-avatar-coment">
              <img src="/img/kate.jpg" alt="">
            </div>
            <div class="div-input-comentario">
              <input type="text" name="comentario" class="input-comentario" autocomplete="off">
            </div>
          </form>

          <ul class="footer-coment-ul">
            <li class="li-comentario">
              <div class="img-avatar-coment">
                <img src="/img/mateus.jpg" alt="">
              </div>
              <div class="div-li-comentario">
                <p class="li-comentario texto">Lorem ipsum dolor sit amet, 
                  consectetur adipisicing elit. Repudiandae animi, doloremque fugit!</p>
              </div>
            </li>
          </ul>

        </div>
      </footer>
      
    </section>