<section id="apoia" class="container">
  <div class="row apoia-header">
    <!-- <div class="col"> -->
      <nav>
        <ul class="ul-apoio">
          <li><a class="apoiar" href="apoio">Apoiados</a></li>
          <li><a class="active titulo" href="apoiadores">Apoiadores</a></li>
        </ul>
      </nav>
      
      <!-- </div> -->
    </div>
    
    <div class="row apoia">
      <img src="/img/MarinaSilva foto.jpg" class="rounded-circle" alt="marina">
      <div class="col">
        <h2 class="subtitulo">Marina</h2>
        <h3 class="texto">Biologia</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>
    
    <div class="row apoia">
      <img src="/img/MarceloFreixo.jpg" class="rounded-circle apoia-1" alt="marcelo">
      <div class="col">
        <h2 class="subtitulo">Marcelo</h2>
        <h3 class="texto">Ciências políticas</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>
    
    
    <div class="row apoia">
      <img src="/img/aecio.jpg" class="rounded-circle" alt="aecio">
      <div class="col">
        <h2 class="subtitulo">Aécio</h2>
        <h3 class="texto">Química</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>
    
    <div class="row apoia">
      <img src="/img/teresa.jpg" class="rounded-circle" alt="teresa">
      <div class="col">
        <h2 class="subtitulo">Teresa</h2>
        <h3 class="texto">Economia</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar">
      </div>
    </div>
    
    
    <div class="row apoia">
      <img src="/img/milton.jpg" class="rounded-circle" alt="milton">
      <div class="col">
        <h2 class="subtitulo">Milton</h2>
        <h3 class="texto">Teatro</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
      </div>
    </div>
    
    <div class="row apoia">
      <img src="/img/anita.jpg" class="rounded-circle" alt="anita">
      <div class="col">
        <h2 class="subtitulo">Anita</h2>
        <h3 class="texto">História</h3>
      </div>
      <div class="col">
        <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
      </div>
    </div>
 
  
  <div class="row apoia">
    <img src="/img/bene.jpg" class="rounded-circle" alt="benedita">
    <div class="col">
      <h2 class="subtitulo">Bene</h2>
      <h3 class="texto">Literatura</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
    </div>
  </div>
  

  <div class="row apoia">
    <img src="/img/bresser.jpg" class="rounded-circle" alt="Bresser">
    <div class="col">
      <h2 class="subtitulo">Bresser</h2>
      <h3 class="texto">Direito</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
    </div>
  </div>
  
  
  <div class="row apoia">
    <img src="/img/michele.jpg" class="rounded-circle" alt="michele">
    <div class="col">
      <h2 class="subtitulo">Michele</h2>
      <h3 class="texto">Moda</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiar" class=btn-1-d data-toggle="modal" data-target="#modalDeApoiar">
    </div>
  </div>  
  

  <div class="row apoia">
    <img src="/img/chico.jpg" class="rounded-circle" alt="chico">
    <div class="col">
      <h2 class="subtitulo">Chico</h2>
      <h3 class="texto">Filosofia</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
    </div>
  </div>
  
  
  
  <div class="row apoia">    
    <img src="/img/luciana.jpg" class="rounded-circle" alt="luciana">
    <div class="col">
      <h2 class="subtitulo">Maria</h2>
      <h3 class="texto">Web design</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
    </div>
  </div>
  
  
  <div class="row apoia">
    <img src="/img/taliria.jpg" class="rounded-circle" alt="taliria">
    <div class="col">
      <h2 class="subtitulo">Talíria</h2>
      <h3 class="texto">Literatura</h3>
    </div>
    <div class="col">
      <input type="button" value="Apoiado" class=btn-1-l data-toggle="modal" data-target="#modalDeApoiados">
    </div>
  </div>
  
  <%- include('./model-apoia') -%>
  <%- include('./model-apoiados') -%>
</section>