<<<<<<< HEAD
<section id="usuario-pesquisado" class="container-flex">
    <div class="row usuario">
        <img src="/img/Viola.jpg" class="rounded-circle" alt="viola">
        <div class="col">
            <h2 class="subtitulo">Viola</h2>
            <h3 class="texto">Engenharia</h3>
          </div>
          <div class="col">
            <input type="button" value="Mensagem" class=btn-0-d>
            <input type="button" value="Apoiar" class=btn-0-d>
          </div>
        </div>

    






=======
<section id="usuario-pesquisado" class="container">
  <div class="usuario">
    <div>
      <img src="/img/Viola.jpg" class="rounded-circle" alt="foto">
    </div>
    <div>
      <h2 class="subtitulo">Viola Oliveira Neto</h2>
      <h3 class="texto">Engenharia</h3>
    </div>
    <div>
      <input type="button" value="Mensagem" class=btn-1-d>
      <input type="button" value="Apoiar" class=btn-1-d>
    </div>
  </div>
>>>>>>> 6969cde6395adde90f4e6e98b2c565d9061172e6
</section>