<section id="usuario-pesquisado" class="container">


  
  <div class="usuario" onclick="location.href='/perfil-usuario/1'">

    <div class="col-2">
      <img src="/img/Viola.jpg" class="rounded-circle" alt="foto">
    </div>

    <div class="col-10">
      <h2 class="subtitulo">Viola Oliveira Neto</h2>
      <h3 class="texto">Engenharia</h3>
      <div class="botoes">
        <input type="button" value="Mensagem" class=btn-1-d>
        <input type="button" value="Apoiar" class=btn-1-d>
      </div>
    </div>

  </div>



</section>