<section id="usuario-pesquisado" class="container">
    <div class="row usuario">
        <img src="/img/Viola.jpg" class="rounded-circle" alt="viola">
        <div class="col">
            <h2 class="subtitulo">Viola</h2>
            <h3 class="texto">Engenharia</h3>
          </div>
          <div class="col">
            <input type="button" value="Mensagem" class=btn-0-d>
            <input type="button" value="Apoiar" class=btn-0-d>
          </div>
        </div>







</section>