/*media query para celular */
@media screen and (max-width: 599px) {
  /* .container {
    margin-top: 5vh;
  } */
  
  .coluna-esquerda {
    /* col-4 */
    display: none;
  }
  
  .coluna-central {
    /* col-8 */
    
    height: auto;
    width: 100%;
    padding: 0 vh;
    margin-top: 5vh;
  }
  
  .coluna-direita {
    display: none;
  }
  
  section#apoia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--text-primary-color);
    border: 1vw solid var(--text-primary-color);
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    margin-bottom: 1vh;
    
  }
  
  .ul-apoio {
    display: flex;
    margin: 0;
    padding: 1% 0;
  }
  
  .apoia img {
    width: 30px;
    height: 30px;
    
    text-align: center
  }
  
  .apoia-header {
    text-transform: uppercase;
    /* padding-bottom:2.3vh; */
    border-bottom: 1px solid var(--divider-color);
    /* margin-left:-30px; */
    font-family: 'Poppins', sans-serif;
  }
  
  .apoia {
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
  }
  
  nav li {
    list-style: none;
    display: flex;
    text-align: left;
    color: #212121;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: baseline;
    align-items: baseline;
  }
  
  nav li a {
    text-decoration: none;
    text-align: left;
    color: #212121;
    font-family: 'Poppins', sans-serif;
    
  }
  
  nav li a.active {
    font-weight: 500;
    color: #212121;
    text-decoration: none;
  }
  
  nav li a.apoiar {
    color: #212121;
    text-decoration: none;
  }
  
  .apoia-1 {
    width: 5%;
    margin-right: 0 1 vh;
  }
  
  .apoia-2 {
    width: 5%;
    
    margin-right: 2vh;
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  
  /* .container {
    margin-top: 5vh;
  } */
  .coluna-esquerda {
    /* col-4 */
    height: auto;
    width: 32.2666666667%;
    padding: 0 vh;
    margin-top: 5vh;
  }
  
  .coluna-central {
    /* col-8 */
    height: auto;
    width: 66.133333333%;
    padding: 0 1vh;
    margin-top: 5vh;
  }
  
  .coluna-direita {
    display: none;
  }
  
  section#apoia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--text-primary-color);
    border: 1vw solid var(--text-primary-color);
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    margin-bottom: 1vh;
    
  }
  
  .apoia img {
    width: 50px;
    height: 50px;
    
    text-align: center
  }
  
  .apoia-header {
    text-transform: uppercase;
    /* padding-bottom:2.3vh; */
    border-bottom: 1px solid var(--divider-color);
    /* margin-left:-30px; */
    font-family: 'Poppins', sans-serif;
  }
  
  .apoia {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  nav li {
    list-style: none;
    display: inline-block;
    text-align: left;
    color: #212121;
    padding-right: 40px;
  }
  
  nav li a {
    text-decoration: none;
    text-align: left;
    color: #212121;
    font-family: 'Poppins', sans-serif;
  }
  
  nav li a.active {
    font-weight: 500;
    color: #212121;
    text-decoration: none;
  }
  
  nav li a.apoiar {
    color: #212121;
    text-decoration: none;
  }
  
  .apoia-1 {
    width: 10%;
  }
  
  .apoia-2 {
    width: 10%;
    margin-right: 1vh;
  }
}

@media screen and (min-width: 1200px) {
  .coluna-esquerda {
    /* col-3 */
    height: auto;
    width: 25%;
    padding: 0vh;
  }
  
  .coluna-central {
    /* col-9 */
    height: auto;
    width: 50%;
    padding: 0 1vh;
  }
  
  .coluna-direita {
    /* col-3 */
    height: auto;
    width: 25%;
    padding: 0vh;
  }
  
  section#apoia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--text-primary-color);
    border: 1vw solid var(--text-primary-color);
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  
  .apoia img {
    width: 50px;
    height: 50px;
    
    text-align: center
  }
  
  .apoia-header {
    text-transform: uppercase;
    /* padding-bottom:2.3vh; */
    border-bottom: 1px solid var(--divider-color);
    /* margin-left:-30px; */
    font-family: 'Poppins', sans-serif;
    
  }
  
  .apoia {
    margin-bottom: 15px;
    margin-top: 15px;
    
  }
  
  nav li {
    list-style: none;
    display: inline-block;
    text-align: left;
    color: #212121;
    padding-right: 40px;
    
    
  }
  
  nav li a {
    text-decoration: none;
    text-align: left;
    color: #212121;
    font-family: 'Poppins', sans-serif;
  }
  
  nav li a.active {
    font-weight: 500;
    color: #212121;
    text-decoration: none;
  }
  
  nav li a.apoiar {
    color: #212121;
    text-decoration: none;
  }
  
}






