body{
  background-color: var(--light-background-color);
}

.coluna-esquerda{
height: auto;
/* border: 1px solid var(--dark-primary-color); */
/* border: 1px solid red; */
margin: 0;
padding: 0;
}
.coluna-central{
/* border: 1px solid var(--dark-primary-color); */
height: auto;
padding: 0 1vh;
/* border: 1px solid red; */
}
.coluna-direita{
height: auto;
/* border: 1px solid var(--dark-primary-color); */
padding: 0;
/* border: 1px solid red; */
}

.div-scroll-post{
  height: 120vh;
  overflow: scroll;
  /* border: 1px solid red; */
}
::-webkit-scrollbar {
  width: 0px;
}
