/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  background-color: var(--light-background-color);
}
@media screen and (min-width: 1200px) {
  .coluna-esquerda {
    /* col-3 */
    height: auto;
    width: 23.8%;
    /* border: 1px solid var(--dark-primary-color); */
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
  }
  .coluna-central {
    /* col-6 */
    height: auto;
    width: 50%;
    padding: 0 1vh;
  }

  .coluna-direita {
    /* col-3 */
    height: auto;
    width: 23.8%;
    padding: 0vh;
  }
  #mobilePostPesquisa {
    display: none;
  }
  #main-footer {
    display: none;
  }
  #mobile-footer {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .coluna-esquerda {
    /* col-4 */
    height: auto;
    width: 32.2666666667%;
    /* margin: 0; */
    padding: 0 0vh;
    margin-top: 5vh;
  }
  .coluna-central {
    /* col-8 */
    height: auto;
    width: 66.1333333333%;
    padding: 0 1vh;
    margin-top: 5vh;
  }
  .coluna-direita {
    display: none;
  }
  #mobilePostPesquisa {
    display: none;
  }
  .btn-legenda {
    font-size: 10px;
    font-weight: 500;
  }
}
@media screen and (max-width: 599px) {
  .coluna-esquerda {
    display: none;
  }
  /* col-12 */
  .coluna-central {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 0vh;
    margin-bottom: 8vh;
  }
  .coluna-direita {
    display: none;
  }
  #novaPostagem {
    display: none;
  }
  #mobilePostPesquisa {
    background-color: var(--text-primary-color);
    border: 1vw solid var(--text-primary-color);
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1vh;
    display: inline-block;
    padding-bottom: 2vh;
    /* margin-top: 0; */
  }
}
.div-scroll-post {
  height: 108vh;
  overflow: scroll;
  scrollbar-width: none;
  /* border: 1px solid red; */
  margin-top: 0vh;
}

::-webkit-scrollbar {
  width: 0px;
}
