/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  background-color: var(--light-background-color);
}
@media screen and (min-width: 1200px) {
.coluna-esquerda {
  /* col-3 */
  height: auto;
  width: 23.8%;
  margin: 0;
  padding: 0;
}

.coluna-central {
  /* col-6 */
  height: auto;
  width: 50%;
  padding: 0 1vh;
}

.coluna-direita {
  /* col-3 */
  height: auto;
  width: 23.8%;
  padding: 0;
}

.div-scroll-post {
  height: auto;
  overflow: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}
}
@media screen and (max-width: 1199px) {
  .coluna-esquerda {
    /* col-4 */
    height: auto;
    width: 32.2666666667%;
    /* margin: 0; */
    padding: 0 0vh;
    margin-top: 5vh;
  }
  .coluna-central {
    /* col-8 */
    height: auto;
    width: 66.1333333333%;
    padding: 0 1vh;
    margin-top: 5vh;
  }
  .coluna-direita {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .coluna-esquerda {
    display: none;
  }
  /* col-12 */
  .coluna-central {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 8vh;
  }
  .coluna-direita {
    display: none;
  }
}

/* inicio componente notificacoes-central */

section#notificacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  height: auto;
  padding: 0 0.5vw;
}

#notificacoes .aula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1vw;
  border-bottom: 1px solid var(--divider-color);
  padding: 0.2em;
}

#notificacoes .aula:hover {
  cursor: pointer;
  background-color: var(--light-background-color);
}

#notificacoes .col {
  margin: 0;
  padding: 0;
}

#notificacoes img {
  width: 50px;
  height: 50px;
  margin: 1em;
}
#notificacoes h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#notificacoes .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
#notificacoes .notificacoes-header {
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 2.3vh;
  margin: 0.5vh;
}