body {
  background-color: var(--light-background-color);
}

@media screen and (min-width: 1200px) {
  
  .coluna-central {
    /* col-9 */
    height: auto;
    width: 74.6%;
    padding: 0 1vh;
  }

  .coluna-direita {
    /* col-3 */
    height: auto;
    width: 23.8%;
    padding: 0vh;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    margin-top: 5vh;
  }
  .coluna-central {
    /* col-8 */
    height: auto;
    width: 66.1333333333%;
    padding: 0 1vh;
  }
  .coluna-direita {
    /* col-4 */
    height: auto;
    width: 32.2666666667%;
    padding: 0 1vh;
    margin-top: -5vh;
  }
}
@media screen and (max-width: 599px) {
  .coluna-direita {
    display: none;
  }
  .container {
    margin-top: 1.5vh;
  }
  .coluna-central {
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 8vh;
  }
}