/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
  background-color: var(--light-background-color);
}
@media screen and (min-width: 1200px) {
.coluna-esquerda {
  /* col-3 */
  height: auto;
  width: 23.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.coluna-central {
  /* col-6 */
  height: auto;
  width: 50%;
  /* padding: 0 1vh; */
  min-width: 460px;
  padding: 0 0.5vw;
}

.coluna-direita {
  /* col-3 */
  height: auto;
  width: 23.8%;
  padding: 0vh;
}

.div-scroll-post {
  height: 142vh;
  overflow: scroll;
}
#mobilePostPesquisa {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}
}
@media screen and (max-width: 1199px) {
  .container {
    margin-top: 5vh;
  }
  .coluna-esquerda {
    display: none;
  }
  .coluna-central {
    /* col-8 */
    height: auto;
    width: 66.1333333333%;
    padding: 0 1vh;
  }
  .coluna-direita {
    /* col-4 */
    height: auto;
    width: 32.2666666667%;
    padding: 0 1vh;
    margin-top: 0vh;
  }
  #mobilePostPesquisa {
    display: none;
  }
  .div-scroll-post {
    height: 142vh;
    overflow: scroll;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
}
@media screen and (max-width: 599px) {
  .container {
    margin-top: 1.5vh;
  }
  .coluna-esquerda {
    display: none;
  }
  .coluna-central {
    /* display: inline-block; */
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 8vh;
  }
  .coluna-direita {
    display: none;
  }
  #filtroPesquisa {
    display: none;
  }
  #mobilePostPesquisa {
    background-color: var(--text-primary-color);
    border: 1vw solid var(--text-primary-color);
    border-radius: 1vw;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1vh;
    display: inline-block;
    /* margin-top: 0; */
  }
  #mobilePostPesquisa i {
    color: var(--default-primary-color);
  }
  #usuario-pesquisado .botoes {
    align-items: center;
    margin-top: 1vh;
  }
  p {
    display: none;
  }
  .btn-legenda {
    font-size: 10px;
    font-weight: 500;
  }
  .div-scroll-post {
    height: 142vh;
    overflow: scroll;
  }
}

/*AQUI COMEÇA O CSS DO COMPONENTE FILTRO DE PESQUISAS*/
@media screen and (max-width: 1199px) {
  #filtroPesquisa {
    width: '100%';
    min-width: 450px; /*para botao nao colapsar*/
    height: 10vh;
    min-height: 90px;
    background-color: var(--text-primary-color);
    border-radius: 10px;
    -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
    padding: 1vw;
  }
  
  #label {
    color: var(--dark-primary-color);
    text-align: center;
    text-transform: uppercase;
  }
  
  #filtroPesquisa .rowBotoes {
    width: 100%;
    min-width: 450px; /*para botao nao colapsar*/
    height: 8vh;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  
  #filtroPesquisa .aplicar {
    width: 12vw;
    min-width: 80px; /*para botao nao colapsar*/
    height: 8vh;
    min-height: 70px;
    background-color: var(--text-primary-color);
    background-color: var(--text-primary-color);
    border: 1px solid var(--divider-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2vh 0 2vh 0;
  }
  
  #lugar {
    color: var(--dark-primary-color);
    text-align: center;
    text-transform: uppercase;
  }
  
  #filtroPesquisa .botao {
    width: 9vw;
    min-width: 70px; /*para botao nao colapsar*/
    height: 8vh;
    min-height: 70px;
    background-color: var(--text-primary-color);
    border: 1px solid var(--divider-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2vh 0 2vh 0;
    color: var(--dark-primary-color);
  }
  
  #filtroPesquisa .botao:hover,
  #filtroPesquisa .posicao:hover h1,
  #filtroPesquisa .posicao:hover {
    color: var(--text-primary-color);
    background-color: var(--default-primary-color);
    cursor: pointer;
  }
  
  #filtroPesquisa .botao p {
    font-size: 10px;
    text-transform: uppercase;
  }
  
  #filtroPesquisa .botao {
    font-size: 2vw;
    text-align: center;
    padding-bottom: 1vh;
  }
  
  #filtroPesquisa .botao p {
    padding-top: 1vh;
  }
  
  #filtroPesquisa .ativo {
    color: var(--text-primary-color);
    background-color: var(--default-primary-color);
    cursor: pointer;
  }

  #iconeSearch{
padding-left: 3%;
  }
}
@media screen and (min-width: 1200px) {
#filtroPesquisa {
  width: '100%';
  min-width: 450px; /*para botao nao colapsar*/
  height: 17vh;
  min-height: 90px;
  background-color: var(--text-primary-color);
  border-radius: 10px;
  -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  padding: 1vw;
}

#label {
  color: var(--dark-primary-color);
  text-align: center;
  text-transform: uppercase;
}

#filtroPesquisa .rowBotoes {
  width: 100%;
  min-width: 450px; /*para botao nao colapsar*/
  height: 13vh;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#filtroPesquisa .aplicar {
  width: 9vw;
  min-width: 80px; /*para botao nao colapsar*/
  height: 13vh;
  min-height: 70px;
  background-color: var(--text-primary-color);
  background-color: var(--text-primary-color);
  border: 1px solid var(--divider-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1vh;
}

#lugar {
  color: var(--dark-primary-color);
  text-align: center;
  text-transform: uppercase;
}

#filtroPesquisa .botao {
  width: 9vw;
  min-width: 70px; /*para botao nao colapsar*/
  height: 13vh;
  min-height: 70px;
  background-color: var(--text-primary-color);
  border: 1px solid var(--divider-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3vh 0 3vh 0;
  color: var(--dark-primary-color);
}

#filtroPesquisa .botao:hover,
#filtroPesquisa .posicao:hover h1,
#filtroPesquisa .posicao:hover {
  color: var(--text-primary-color);
  background-color: var(--default-primary-color);
  cursor: pointer;
}

#filtroPesquisa .botao p {
  font-size: 10px;
  text-transform: uppercase;
}

#filtroPesquisa .botao {
  font-size: 2vw;
  text-align: center;
  padding-bottom: 1vh;
}

#filtroPesquisa .botao p {
  padding-top: 1vh;
}

#filtroPesquisa .ativo {
  color: var(--text-primary-color);
  background-color: var(--default-primary-color);
  cursor: pointer;
}
}

/*AQUI FINALIZA O CSS DO COMPONENTE FILTRO DE PESQUISAS*/

/* COMPONENTE USUARIO PESQUISADO */
section#usuario-pesquisado .usuario img {
  width: 50px;
  height: 50px;
}

section#usuario-pesquisado {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  height: auto;
  padding: 0 0.5vw;
}

section#aula-pesquisada {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  height: auto;
  padding: 0 0.5vw;
}

section#aula-pesquisada .aula img {
  width: 50px;
  height: 50px;

}
