/* IMPORTANDO A FONTE POPPINS DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

/*VARIAVEIS GLOBAIS DE CORES SEGUINDO A PALETA DE CORES*/
:root {
  --dark-primary-color: #7B1FA2;
  --default-primary-color: #9C27B0;
  --light-primary-color: #E1BEE7;
  --text-primary-color: #FFFFFF;
  --accent-color: #FF9800;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --light-background-color: #EDEDED;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

/* CLASSE COM DE ACORDO COM A FUNÇÃO DE CADA PALETA DE CORES */
.dark-primary-color {
  background: #7B1FA2;
}

.default-primary-color {
  background: #9C27B0;
}

.light-primary-color {
  background: #E1BEE7;
}

.text-primary-color {
  color: #FFFFFF;
}

.accent-color {
  background: #FF9800;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #BDBDBD;
}

.light-background-color {
  background-color: #EDEDED;
}

/*BOTOES ESCUROS DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.btn-0-d {
  width: 70px;
  height: 32px;
  padding: 7px;
  border: 2px solid var(--text-primary-color);
  border-radius: 7px;
  font-size: 12px;
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-1-d {
  width: 112px;
  height: 32px;
  padding: 7px;
  border: 2px solid var(--text-primary-color);
  border-radius: 7px;
  font-size: 12px;
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-2-d {
  width: 154px;
  height: 37px;
  padding: 7px;
  border: 2px solid var(--text-primary-color);
  border-radius: 7px;
  font-size: 14px;
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-3-d {
  width: 210px;
  height: 40px;
  padding: 7px;
  border: 2px solid var(--text-primary-color);
  border-radius: 7px;
  font-size: 16px;
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

/*BOTOES CLAROS DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.btn-0-l {
  width: 110px;
  height: 32px;
  padding: 7px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 7px;
  font-size: 12px;
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-1-l {
  width: 112px;
  height: 32px;
  padding: 7px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 7px;
  font-size: 12px;
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-1b-l {
  width: 154px;
  height: 32px;
  padding: 7px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 7px;
  font-size: 12px;
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-2-l {
  width: 154px;
  height: 37px;
  padding: 7px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 7px;
  font-size: 14px;
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

.btn-3-l {
  width: 210px;
  height: 40px;
  padding: 7px;
  border: 2px solid var(--dark-primary-color);
  border-radius: 7px;
  font-size: 16px;
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  transition: ease-in 0.23s;
  letter-spacing: 1px;
}

/*BOTOES ESCUROS EFEITO HOVER DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.btn-0-d:hover,
.btn-1-d:hover,
.btn-2-d:hover,
.btn-3-d:hover {
  background: var(--text-primary-color);
  color: var(--dark-primary-color);
  border: 2px solid var(--dark-primary-color);
  cursor: pointer;
}

/*BOTOES CLAROS EFEITO HOVER DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.btn-0-l:hover,
.btn-1-l:hover,
.btn-2-l:hover,
.btn-3-l:hover,
.btn-1b-l:hover {
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  border: 2px solid var(--text-primary-color);
  cursor: pointer;
}

/*TAMANHO DA LOGO COM O DESENHO DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.logo {
  width: 120px;
  padding: 2px;
}

/*TAMANHO DA LOGO APENAS LETRAS DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.logo-letra {
  width: 70px;
  padding: 0;
  margin-right: 10vw;
}

/*PADRÕES DE TAMANHO DE FONTES DE ACORDO COM O PADRÃO UTILIZADO NA IDENTIDADE VISUAL*/
.titulo,
h1 {
  font-size: 16px;
  font-weight: 600;
}

.subtitulo,
h2,
h3,
h4,
h5,
h6 {
  font-size: 15px;
  font-weight: 500;
}

.texto,
p,
li {
  font-size: 13px;
  font-weight: 400;
}


/*Sobrescrevendo a regra de containers do bootstrap para footer e header*/
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 0;
}

/*CSS DO HEADER */
.header-nav {
  background-color: var(--dark-primary-color);
  height: 6vh;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.header-nav .form-control {
  height: calc(0.7em + .75rem + 2px);
}

.header-nav .input-group-text {
  line-height: 0.9;
  position: relative;
  left: -15px;
  background-color: transparent;
  border: none;
  color: var(--text-primary-color);
}

.header-nav .form-inline {
  width: 25vw;
}

.header-nav input[type='search'] {
  width: 20vw;
}

.header-nav-ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.header-nav-ul li {
  display: flex;
  font-size: 1em;
  margin: 0 1.2vw;
  color: var(--text-primary-color);
}

.header-nav-ul li:hover{
  cursor: pointer;
}

#pesquisar:hover{
  cursor: pointer;
}
/*FIM DO CSS DO HEADER */





/*SECTION APOIADORES*/
section#apoiadores img{
  width: 50px;
  height: 50px;
}

#apoiadores {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
}

#apoiadores .row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#apoiadores .col {
  margin: 0;
  padding: 0;
}
#apoiadores h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
#apoiadores h2 {
  margin: 0;
  padding: 0;
}
#apoiadores img{
  margin: 0.5em;
}

#apoiadores .apoiadores-header{
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 2.3vh;
  margin-bottom: 1vh;
}

#apoiadores .apoiador{
  border-radius: 1vw;
  border-bottom: 1px solid var(--divider-color);
}

#apoiadores .apoiador:hover{
  background-color: var(--light-background-color);
  cursor: pointer;
}
/*FIM DO CSS DO COMPONENTE APOIADORES*/

/* INICIO DO CSS DO COMPONENTE AULAS-RCENTES */
section#aulas-recentes img{
  width: 30px;
  height: 30px;
}
#aulas-recentes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
}

#aulas-recentes .row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#aulas-recentes .col {
  margin: 0;
  padding: 0;
}
#aulas-recentes h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-bottom: 2.3vh;
  margin-bottom: 1vh;
}
#aulas-recentes h2 {
  margin: 0;
  padding: 0;
}
#aulas-recentes img{
  margin: 0.5em;
}

/*AQUI COMEÇA O CSS DO COMPONENTE NOVAS PUBLICACOES*/
#novaPostagem{
  width: '100%';
  height: 20vh;
  background-color: var(--text-primary-color);
  border-radius: 10px;
  box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
}

#novaPostagem .rowBotoes {
  width:'100%';
  height: 12vh;
  display: flex;
  flex-direction: row;
}

#novaPostagem .posicao {
  width:12vw;
  height: 12vh;
  background-color:var(--text-primary-color);
  background-color: var(--text-primary-color);
  border: 1px solid var(--divider-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#lugar{
  color: var(--dark-primary-color);
  text-align: center;
  text-transform: uppercase;
}

#novaPostagem .botao {
  width: 8vw;
  height: 12vh;
  background-color: var(--text-primary-color);
  border: 1px solid var(--divider-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 17px;
  color: var(--dark-primary-color);
}

#novaPostagem .botao:hover,
#novaPostagem .posicao:hover h1,
#novaPostagem .posicao:hover {
color: var(--text-primary-color);
background-color: var(--default-primary-color);
cursor: pointer;
}

#novaPostagem .botao p {
  font-size: 10px;
  text-transform: uppercase;
}

#novaPostagem .apoiados {
  width: '100%';
  height: 8vh;
  display: flex;
  flex-direction: row;
}

#novaPostagem .text-apoiados {
  width: 10vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--default-primary-color)
}

#novaPostagem .listagem-apoiados {
  width: 30vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#novaPostagem .apoiado {
  width: 2.8vw;
  height: 5vh;
  background-color: cornsilk;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#iconeBotao {
  font-size: 28px;
  text-align: center;
  padding-bottom: 1vh;
}

#novaPostagem .seta {
  width: 2.8vw;
  height: 5vh;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#seta {
  color: var(--default-primary-color)
}
/*AQUI FINALIZA O CSS DO COMPONENTE NOVAS PUBLICACOES*/




/*FIM DO CSS DO COMPONENTE AULAS RECENTES*/
#aulas-recentes .aulas-header{
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 2.3vh;
  margin-bottom: 1vh;
}

#aulas-recentes .aulas {
  border-radius: 1vw;
  border-bottom: 1px solid var(--divider-color);
}

#aulas-recentes .aulas:hover {
  background-color: var(--light-background-color);
  cursor: pointer;
}

#aulas-recentes .aulas-footer {
  padding-top: 2.3vh;
  margin-top: 1vh;
}

#aulas-recentes .aulas img {
  height: 50px;
  width: 50px;
}
/* FIM DO COMPONENTE AULAS-RECENTES */




/*INICIA DO CSS DO COMPONENTE PERFIL*/
#perfil {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--text-primary-color);
  border: 1vw solid var(--text-primary-color);
  border-radius: 1vw;
  -webkit-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  box-shadow: -2px 7px 17px 3px rgba(0, 0, 0, 0.19);
  align-items: center;
  margin-bottom: 2vh;
}

#perfil .avatar {
  width: 90px;
  border-radius: 100%;
  height: 90px;
  border: 3px solid var(--text-primary-color);
  display: flex;
  align-self: flex-end;
  top: 21px;
  position: relative;
}

#perfil .capa-perfil {
  background-image: url('/img/capa.jpg');
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-self: stretch;
  justify-content: center;
}

#perfil .perfil-atributos-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#perfil .perfil-atributos-ul-li {
  display: flex;
}

#perfil .valor {
  padding: 0 0.7vw;
  font-size: medium;
  font-weight: 500;
}

#perfil .icone {
  font-size: 1.2em;
  color: var(--accent-color);
}

#perfil .info {
  text-align: center;
  margin-top: 4vh;
}

#perfil .info .faculdade,
#perfil .info .profissao,
#perfil .info .nome{
  margin-bottom: 1vh;
}

#perfil .info .frase{
  padding-bottom: 3vh;
  border-bottom: 1px solid var(--divider-color);
}
/*FIM DO CSS DO COMPONENTE PERFIL*/



